h1 {
    padding-top: 10px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-family: monospace;

}

.wrapper {
    background-color: rgba(255,8,0,0.5);
    border-top: solid grey 5px;
    border-bottom: solid grey 5px;

    box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    height: 500px;
    width: 500px;
    margin: 5% auto;
    padding: 50px 0;

    text-align: center;
}

.pomodore-display {
    font-size: 7em;
    font-family: monospace;

    position: relative;
    width: 100%;
    margin: 0 auto;
}

.btns-display {
    margin: 15px;
    text-align: center;
}

.btn {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    margin: 10px;

}


footer {
    text-align: center;
}